{% include '_head.twig' %}

{% include '_menu.twig' %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% set headerimage = paths.theme ~ 'img/' ~ random(theme.backgrounds) %}
    <header class="intro-header" style="background-image: url('{{ headerimage }}')">{# thumbnail(record.image, 1000, 700) #}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ record.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-0 col-md-10 col-md-offset-1">

                    {{ record.content }}

                    {% if app.request.get('slug') == "contact" %}
                        {{ simpleform('contact') }}
                    {% endif %}

                </div>


                <div class="col-lg-3 col-lg-offset-1 col-md-10 col-md-offset-1">
                    {% include '_aside.twig' %}
                </div>

            </div>
        </div>
    </article>

    <hr>

{% include '_footer.twig' %}
